@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
    <h1>Welcome to the curse of the fluffy Bunny</h1>
    <p class="lead">Follow the epic story of the supreme princess </p>
    </center>
</div>