
@{
    ViewBag.Title = "Instruction";
}

<h2>Instruction</h2>
<h4><strong>Jump: </strong></h4>
<img src="~/Content/Image/spacebar.png"  height="50" width="200" />
<h4><strong>Move: </strong></h4>
<img src="~/Content/Image/right_left_arrow.jpg" height="175" width="175" />


